body{background:#444;padding:50px;font-family:Helvetica,Serif;font-size:13px;}
#logo{text-align:center;}
#wrap{width:460px;margin:auto;background:#fcfcfc;padding:30px;
  box-shadow:0 0 10px #000;border:1px doted #333;
  &:hover{box-shadow:0 0 120px #000;background:#fff;/*width:660px;*/}
}
#content,#wrap{ 
  /*
-webkit-transition-duration: .33s;
-webkit-transition-property: color, background, text-shadow, box-shadow, width;
*/
}
#content{text-align:center;margin-bottom:20px;
  &:hover{text-shadow: rgba(220, 220, 220, 1) 0 0 5px;}
}
.form{ padding:30px;background:#ddd;
  margin:40px 70px;
  label{display: block;margin: 5px 0 0 0;}
  p{margin:0;}
  input,textarea{width:100%;padding: 5px 0px;}
  .submit{padding: 5px 10px;background:#000;color:#fff;border:0;border-radius:4px;box-shadow:0 0 5px #000;}
}