<body style="margin: 10px;">
	<div style="width: 600px;">
		<div style="margin-bottom: 0px;">
			<div>
				<div style="padding: 20px 0px;border: none;background-color: #ffffff;margin-bottom:5px;">
					<table cellspacing="0" style="width:100%;">
						<tr>
							<td><div><img src="http://rosamesias.2minds.org/static/images/doctora-rosa-mesia.png"></div></td>
						</tr>
					</table>
				</div>
				<div style="padding: 20px 20px;border: 1px solid #7a7e81;background-color: #ffffff;margin-bottom:5px;">
					<table cellspacing="0" style="width:100%;">
						<tr>
							<td style="font: normal 13px Arial, Helvetica, sans-serif; color:#000000;text-align:left;width:25%;padding: 10px 6px;">
                            <strong>Nombre:</strong> {{ name }}
							</td>
						</tr>
						<tr>
							<td style="font: normal 13px Arial, Helvetica, sans-serif; color:#000000;text-align:left;width:25%;padding: 10px 6px;">
                            <strong>Apellidos:</strong> {{ last }}
							</td>
						</tr>
						<tr>
							<td style="font: normal 13px Arial, Helvetica, sans-serif; color:#000000;text-align:left;width:25%;padding: 10px 6px;">
                            <strong>Correo:</strong> {{ email }}
							</td>
						</tr>
						{% if telefono %}
						<tr>
							<td style="font: normal 13px Arial, Helvetica, sans-serif; color:#000000;text-align:left;width:25%;padding: 10px 6px;">
                            <strong>Teléfono:</strong> {{ telefono }}
							</td>
						</tr>
						{% endif %}
						<tr>
							<td style="font: normal 13px Arial, Helvetica, sans-serif; color:#000000;text-align:left;width:25%;padding: 10px 6px;">
							    <strong>Mensaje:</strong><br />
                                {{message}}.
							</td>
						</tr> 
					</table>
				</div>
			</div>
		</div>
	</div>
</body>