{% extends 'website/base.html' %}
{% load store_main %}

{% block content %}
 

<!--CONTENT-->
<div id="main_content"> 
  <div id="logo">
    <img src="{{ STATIC_URL }}css/img/logo.png" alt="CssNow : Conversión de archivos PSD to CSS" />
  </div>
  <div id="content">
    <h1>Tu Diseñas, Nosotros Desarrollamos</h1>
    <div class="quote">
      Transforma tus ideas de diseño en Illustrator, Photoshop, Fireworks o Gimp y nosotros lo convertiremos a HTML5 y Javascript y CSS3 con las animaciones que habías creado<br /> 
      Si necesitas más información, no dudes en conversar con nosotros a 
      <a href="mailto:info@cssnow.org">info@cssnow.org</a>
    </div>
  </div>
  <!--
  <div id="f-contact" class="form">
    <form action="/contact/" method="post">{% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="submit">Enviar Mensaje</button>
    </form>
  </div>
  -->
  <div class="fb-like-box" data-href="http://www.facebook.com/cssnowperu" data-width="460" data-show-faces="true" data-border-color="#f6f6f6" data-stream="false" data-header="false"></div>
</div>
<!--END CONTENT-->
{% endblock %}