{% extends 'website/base.html' %}
{% load store_main %}

{% block content %}
 

<!--CONTENT-->
<div id="main_content"> 
    <div id="logo">
      <img src="{{ STATIC_URL }}css/img/logo.png" alt="CssNow : Conversión de archivos PSD to CSS" />
    </div>
    <div id="content">
      Transforma tus archivos PSD a HTML5 y CSS3. 
      Si necesitas más información, no dudes en conversar con nosotros a <a href="mailto:info@cssnow.org">info@cssnow.org</a>
      
    </div>
</div>
<!--END CONTENT-->
{% endblock %}